{
    "rules": {
        "indent": [2],
        "quotes": [2, "double"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"]
    },
    "globals": {
        "angular": false
    },
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended"
}
