section.md-calendar(layout='column', layout-fill, flex)
    md-toolbar(md-swipe-right='prev()', md-swipe-left='next()')
        .md-toolbar-tools(layout='column')
            md-button(ng-click='prev()') &laquo;
            h2.text-center(flex) {{ calendar.start | dateLocale:'MMMM yyyy' }}
            md-button(ng-click='next()') &raquo;
    md-subheader.md-primary.no-side-padding
        .md-subheader-content(layout='row', layout-fill)
            div(flex, ng-repeat='day in calendar.weeks[0]')
                span(hide-gt-md) {{ day | dateLocale:'EEE' }}
                span(hide, show-lg, show-gt-lg) {{ day | dateLocale:'EEEE' }}
    md-content(flex, layout='column', layout-fill)
        .md-calendar-month(flex, layout='row', layout-fill, ng-repeat='week in calendar.weeks')
            .md-calendar-week(flex, layout='column', layout-fill, layout-align='center center', ng-repeat='day in week')
                .md-calendar-day(ng-click='handleDayClick(day)', flex, layout, layout-fill, data-year="{{ day | date:'yyyy' }}", data-month="{{ day | date:'M' }}", data-day="{{ day | date:'d' }}")
                    .md-calendar-number {{ day | date:'d' }}
                    .md-calendar-content(flex)
