$calendar-md-background-active: rgba(0, 0, 0, .06);
$calendar-md-border: 1px solid rgba(0, 0, 0, .12) ! default;
$calendar-md-background-hover: rgba(0, 0, 0, .04);

calendar-md {

  display: block;
  max-height: 100%;

  .calendar-md-subheader {
    min-height: 36px;
  }

  .calendar-md-day{
    border-bottom: $calendar-md-border;
    border-right: $calendar-md-border;
    padding: 6px;
    min-height: 48px;
    box-sizing: border-box;
  }

  .calendar-md-subheader-day, .calendar-md-day {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .calendar-md-subheader {
    border-left: $calendar-md-border;
    border-right: $calendar-md-border;
  }

  .calendar-md-week:first-child,
  .calendar-md-month:first-child .calendar-md-day {
    border-top: $calendar-md-border;
  }

  .calendar-md-day:not(.calendar-md-day-inactive) {
    cursor: pointer;
  }
  .calendar-md-day-inactive {
    color: rgba(0, 0, 0, .3);
    pointer-events: none;
    .calendar-md-number {
      color: inherit;
    }
  }

  .md-subheader {
    border-left: $calendar-md-border;
    border-right: $calendar-md-border;
    margin-right: 0;
  }

  .calendar-md-day.active {
    background-color: $calendar-md-background-active;
  }

  .md-subheader:not(.md-sticky-no-effect):after {
    right: 0 !important;
  }

  .calendar-md-week.vertical,
  .calendar-md-week.horizontal .calendar-md-day:first-child {
    border-left: $calendar-md-border;
  }

  .calendar-md-week .calendar-md-day:last-child {
  }

  .calendar-md-day:hover {
    background: $calendar-md-background-hover;
  }

  .calendar-md-number {
    padding: 0;
  }

  .calendar-md-content {

  }

}
