.md-calendar-day {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.md-calendar-day:hover {
  background: #f0f0f0;
}

.md-calendar-number {
  padding: 0;
  color: #777;
  font-weight: bold;
}

.md-calendar-content {

}